<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}citiezenHub{% endblock %}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-style-mode" content="1">
    <!-- 0 == light, 1 == dark -->

    <!-- Favicon -->
    <!-- CSS  -->
</head>

<body class="template-color-1 nft-body-connect">
 {% block body %}
    aaaa
{% endblock %}
</body>

</html>